/* Comentarios */

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

/* Header */

header {
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7EAED;
    height: 74.61px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__mobile {
    display: none;
}

.header__navigation-bar {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 74.61px;
}

.header__logo-desktop img {
    height: 33.75px;
    width: auto;
}

.header__navigation-bar-menu {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 416.50px;
}

.header__menu-links {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50px;
    display: flex;
    height: 38.3px;
    font-weight: 700;
    justify-content: center;
    padding: 6px 24.20px;
    width: 150.16px;
    white-space: nowrap;
}

.header__menu-links:hover {
    background-color: #E4D7FF;
}

.header__menu-links a {
    font-size: 12.60px;
}

.header__menu-links a:hover {
    background-color: #E4D7FF;
    color: #360C72;
}

.header__navigation-bar-divided {
    align-items: center;
    background-color: #BEBEBE;
    margin-left: 19px;
    height: 21.84px;
    width: 0.9px;
}

.header__navigation-bar-right {
    display: flex;
    margin: 0 0 0 31.4698px;
}

.header__navigation-bar-button {
    align-items: center;
    border-radius: 50px;
    display: flex;
    font-size: 13px;
    font-weight: 700;
    height: 37.3px;
    justify-content: center;
    margin: 0 4px;
    width: 144.9px;
}

.button--outlined {
    border: 1px solid #652BDF;
    color: #652BDF;
}

.button--outlined:hover {
    background-color: #E4D7FF;
    color: #360C72;
}

.button--filled {
    background-color: #652BDF;
    color: #FFFFFF;
}

.button--filled:hover {
    background-color: #E4D7FF;
    border: 1px solid #360C72;
    color: #360C72;
}

/* ¿Necesario?
.main__section-separator{
    height: 58.24px;
    width: 930.01px;
}
*/

/* Cards */

section {
    align-items: center;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #FCFBFF;
    margin: 0;
}

.main__section-title {
    color: #2B2B2B;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -1.08px;
    margin-bottom: 0;
    margin-top: 66.24px;
}

.main__cards-container {
    background-color: #FCFBFF;
    display: flex;
    height: 236.65px;
    justify-content: space-around;
    margin-top: 33.11px;
    width: 930.01px;
}

.main__cards {
    background-color: #FFFFFF;
    border-radius: 16px;
    height: 236.65px;
    padding: 24px;
    transition: transform 0.1s ease;
    width: 292.3px;
}

.main__cards:hover {
    transform: translateY(-5px);
}

.main__cards-title {
    color: #2B2B2B;
    font-size: 22.5px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 26px;
    margin-bottom: 15.50px;
    margin-top: 13.77px;
}

.main__cards-icons {
    background-color: #F0EAFC;
    border-radius: 8px;
    height: 56.41px;
    padding: 12.5px;
    width: 56.41px;
}

.main__cards-icons img {
    align-items: center;
    display: flex;
    height: 34px;
    justify-content: center;
    width: 39px;
}

p {
    color: #6A6A6A;
    line-height: 1.5;
    margin: 0;
}

.main__second-section {
    gap: 22.55px;
}

/* Banner */

.main__promo-banner {
    align-items: center;
    background-color: #360C72;
    border-radius: 32px;
    color: #FFFFFF;
    display: flex;
    height: 121.93px;
    justify-content: center;
    margin-top: 32px;
    padding: 2px 40px;
    width: 930.01px;
}

.main__promo-banner-text {
    align-items: center;
    width: 605.69px;
}

.main__promo-banner-title {
    font-size: 29px;
    font-weight: 600;
    letter-spacing: -1.3px;
    line-height: 32px;
    margin: 0;
    padding-bottom: 10px;
}

.main__promo-banner-subtitle {
    color: #FFFFFF;
}

.main__promo-banner-button {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50px;
    color: #652BDF;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    height: 41.64px;
    justify-content: center;
    width: 174.71px;
}

.main__promo-banner-button:hover {
    background-color: #000000;
    color: #E4D7FF;
}

/* Panels */

.main__container-panel {
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    height: 318.65px;
    margin-bottom: 20px;
    padding: 32x 24px;
}

.main__panel.panel--reverse.main__panel-text {
    padding-right: 20px;
}

.main__panel-text {
    padding-left: 24px;
    padding-top: 32px;
    width: 465px;
}

.main__panel-text h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 19px;
}

.main__panel-text p {
    color: #2B2B2B;
}

.main__panel-button {
    align-items: center;
    background-color: #652BDF;
    border-radius: 50px;
    color: #FFFFFF;
    display: flex;
    font-size: 13px;
    font-weight: 700;
    margin-top: 90px;
    height: 41.64px;
    justify-content: center;
    width: 146.38px;
}

.main__panel-button:hover {
    background-color: #360C72;
}

.main__panel-button a {
    align-items: center;
}

.main__panel-mask-image {
    border-radius: 29px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main__panel-mask-image img {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.main__panel-mask-image img:hover {
    transform: scale(1.02);
}

img {
    align-items: center;
    height: 318.65px;
    justify-content: center;
    padding-right: 7px;
    width: 450px;
}

/*Footer*/

footer {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.footer__logo {
    align-items: center;
    display: flex;
    margin-left: 17px;
}

.footer__logo-mobile {
    height: auto;
    width: 46px;
}

.footer__container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
}

.footer__links-section {
    display: flex;
    flex: row;
    height: 262px;
    padding: 0;
    white-space: nowrap;
    width: 240px;
}

span {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap;
}

li a {
    color: #2B2B2B;
    font-size: 13px;
    text-decoration: none;
}

li {
    line-height: 24px;
}

ul {
    display: block;
    list-style: none;
    margin: 0 16px;
    padding: 0;
}

@media screen and (min-width: 531px) and (max-width 768px) {

    /* Cards */

    section {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    body {
        background-color: #FCFBFF;
        margin: 0;
    }

    /* Banner */

    .main__banner {
        align-items: center;
    }

    .main__promo-banner {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 210px;
        font-weight: 20px;
        width: 652px;
    }

    .main__promo-banner-text {
        width: 200px;
    }

    .main__promo-banner-title {
        font-size: 21px;
        padding-bottom: 5px;
    }

    .main__promo-banner-subtitle {
        font-size: 16px;
    }

    .main__promo-banner-button {
        font-size: 14px;
        margin-top: 16px;
        width: 220px;
    }

    /* Panel */

    .main__section-subtitle {
        text-align: center;
    }

    .main__container-panel {
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 25px;
        display: flex;
        flex-direction: column-reverse;
        height: 367px;
        margin: 0;
        width: 300px;
    }

    .main__second-section {
        gap: 22.55px;
    }

    /* Banner */

    .main__promo-banner {
        align-items: center;
        background-color: #360C72;
        border-radius: 32px;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        height: 197.6px;
        justify-content: center;
        margin: 0 24px;
        padding: 32px 40px;
        width: 500px;
    }

    .main__promo-banner-text {
        align-items: center;
        width: 605.69px;
    }

    .main__promo-banner-title {
        font-size: 28px;
        font-weight: 600;
        letter-spacing: -0.9px;
        line-height: 32px;
        margin: 0;
        padding-bottom: 10px;
    }

    .main__promo-banner-subtitle {
        color: #FFFFFF;
        font-size: 20px;
        margin-bottom: 22px;
    }

    .main__promo-banner-button {
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 50px;
        color: #652BDF;
        display: flex;
        font-size: 14px;
        font-weight: 700;
        height: 45.6px;
        justify-content: center;
        width: 589.6px;
    }

    .main__promo-banner-button:hover {
        background-color: #000000;
        color: #E4D7FF;
    }

    footer {
        width: 200px;
    }
    
    .footer__footer {
        gap: 10px;
        padding: 0;
    }

}

@media screen and (width > 767px) {

    /* Panels */

    .main__panel.panel--reverse {
        display: flex;
    }
}

@media screen and (width < 991px) {

    .header__mobile {
        align-items: center;
        display: flex;
        height: 74.6px;
        justify-content: center;
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }

    .header__navigation-bar {
        height: 0;
    }

    .header__logo-mobile {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .header__logo-menu {
        align-items: start;
        display: flex;
        height: 21.84px;
        margin-left: 20px;
        width: 21.84px;
    }

    .header__logo-mobile img {
        align-items: center;
        display: flex;
        height: 40px;
        width: 41.81px;
    }

    .header__logo-desktop {
        display: none;
    }

    .header__navigation-bar-menu {
        display: none;
    }

    .header__navigation-bar-divided {
        display: none;
    }

    .header__navigation-bar-right {
        display: none;
    }

    .main__first-section {
        background-color: #FCFBFF;
        height: 831px;
    }

    .main__section-title {
        font-size: 34px;
        padding: 4.8px;
        text-align: center;
    }

    .main__cards-icons {
        padding: 12.5px;
    }

    .main__cards-icons img {
        align-items: center;
        display: flex;
        height: 34px;
        justify-content: center;
        width: 34px;
    }

    .main__first-section .main__cards-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 200px;
        gap: 20px;
        width: 0;
    }

    .main__cards.third--card--mobile {
        height: 250px;
        margin-bottom: 0;
    }

    .main__cards.main__cards-title{
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

    .main__cards-text {
        font-size: 13px;
    }

    
/*Footer*/

footer {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.footer__logo {
    align-items: center;
    display: flex;
    margin-left: 17px;
    padding-left: 55px;
}

.footer__logo-mobile {
    height: auto;
    width: 46px;
}

.footer__container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
}

.footer__links-section {
    display: flex;
    flex: row;
    height: 262px;
    padding-left: 55px;
    white-space: nowrap;
    width: 200px;
}

span {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap;
}

li a {
    color: #2B2B2B;
    font-size: 13px;
    text-decoration: none;
}

li {
    line-height: 24px;
}

ul {
    display: block;
    list-style: none;
    margin: 0 16px;
    padding: 0;
}
}

@media screen and (min-width:768px) and (max-width: 990px) {

    /* Cards */

    .main__first-section {
        height: 742px;
    }

    .main__section-title h1 {
        font-size: 2px;
        padding: 4.8px;
        text-align: center;
    }

    .main__cards {
        height: 194px;
        width: 652px;
    }

    .main__cards-icons {
        padding: 12.5px;
    }

    .main__cards-icons img {
        align-items: center;
        display: flex;
        height: 34px;
        justify-content: center;
        width: 34px;
    }

    .main__first-section .main__cards-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 200px;
        gap: 20px;
        width: 0;
    }

    .main__cards.third--card--mobile {
        height: 250px;
        margin-bottom: 0;
    }

    .main__cards-title {
        font-size: 30px;
    }

    .main__cards-text {
        font-size: 13px;
    }

    img {
        align-items: center;
        height: auto;
        padding: 0;
        width: 290px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    /* Cards */

    .main__first-section {
        background-color: #FCFBFF;
        height: 831px;
    }

    .main__section-title {
        font-size: 23px;
        padding: 4.8px;
        text-align: center;
    }

    .main__cards-icons {
        padding: 12.5px;
    }

    .main__cards-icons img {
        align-items: center;
        display: flex;
        height: 34px;
        justify-content: center;
        width: 34px;
    }

    .main__first-section .main__cards-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 200px;
        gap: 20px;
        width: 0;
    }

    .main__cards.third--card--mobile {
        height: 250px;
        margin-bottom: 0;
    }

    .main__cards-title {
        font-size: 17px;
    }

    .main__cards-text {
        font-size: 13px;
    }

    /* Banner */

    .main__banner {
        align-items: center;
    }

    .main__promo-banner {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 210px;
        font-weight: 20px;
        width: 290px;
    }

    .main__promo-banner-text {
        width: 200px;
    }

    .main__promo-banner-title {
        font-size: 21px;
        padding-bottom: 5px;
    }

    .main__promo-banner-subtitle {
        font-size: 16px;
    }

    .main__promo-banner-button {
        font-size: 14px;
        margin-top: 16px;
        width: 220px;
    }

    /* Panel */

    .main__section-subtitle {
        text-align: center;
    }

    .main__container-panel {
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 25px;
        display: flex;
        flex-direction: column-reverse;
        height: 367px;
        margin: 0;
        width: 300px;
    }

    .main__panel {
        align-items: center;
    }

    .main__panel-text {
        font-size: 10px;
        padding-top: 0;
        width: 300px;
    }

    h2 {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 9px;
    }


    p {
        font-size: 13.50px;
    }

    .main__panel-button {
        margin-top: 20px;
        margin-bottom: 18px;
        width: 250px;
    }

    img {
        align-items: center;
        height: auto;
        padding: 0;
        width: 290px;
    }

    footer {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .footer__footer {
        align-items: center;
        display: grid;
        margin-top: 20px;
        margin-right: 50px;
        width: 310px;
    }

    .footer__logo {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: 40px;
    }

    .footer__logo-mobile {
        height: auto;
        width: 46px;
    }

    .footer__container {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        padding: 0;
    }

    .footer__links-section {
        display: flex;
        flex: row;
        height: 235px;
        width: 90px;
        white-space: nowrap;
    }

    span {
        font-size: 12px;
        font-weight: 700;
        white-space: nowrap;
    }

    .footer__links-section a {
        font-size: 12px;
    }

    li {
        list-style: none;
    }

    ul {
        margin: 0;
    }

}